@import '../_sass/syntax-highlighting';
@import '../_sass/rsweb-font-style';
@import '../_themes/global/scss/swatch';

body {
  margin-top: 60px;
}

.highlight {
  margin-top: 10px;
}

.right {
  float: right;
}

.header {
  background-color: $blue-gray;
  color: $white;
  padding: 1em 0;
}

.icon-grid-item {
  margin-top: 1em;
}

.documentation {
  padding: 2em;
}

code {
  background: $code-background;
  color: $code-color;
}

.card {
  background: $card-background;
  border-top: solid 8px $card-border;
  box-shadow: 0 0 0 $shadow;
  margin: 1.5em;

  &.blue {
    border-top-color: $card-blue;
  }
}

