.homepage-hero {
  @extend %full-width;
  background-image: url('https: //752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/backgrounds/homepage.jpg');
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 0;
  height: 400px;
  margin-bottom: 40px;
  overflow: visible;
  position: relative;
  top: 35px;

  h2 {
    @extend %white;
    @extend %left;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    padding-top: 20px;
  }

  p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    padding-bottom: 10px;
  }
}

%product-hover {
  &:hover {
    @extend %bg-light-gray;

    hr {
      border-color: $mediumteal;
    }

    h3,
    a {
      color: $mediumteal;
    }
  }
}

.hosting-options {
  text-align: center;

  .product {
    @extend %product-hover;
    p { margin-bottom: 30px; }
  }
}

%mustard-i {
  i { color: $mustard; }
}

%solutions-hover {
  &:hover {
    h6 {
      @extend %mustard-i;
    }

    .border-white {
      @extend %mustard-i;
      border-color: $mustard;
    }
  }
}

.solutions {
  a { text-decoration: none; }
  .solution { @extend %solutions-hover; }
}

.quadrant {
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/quadrant.png');
  background-position: 13% bottom;
  background-repeat: no-repeat;
  background-size: 40%;
  padding: 20px 0;
}

.form-inline {
  button,
  .button {
    width: auto;
  }
}

.border-white {
  &:hover {
    border-color: $mustard;

    i {
      color: $mustard;
    }
  }
}

.cloud-and-tech {
  background-color: $cloud-and-tech-aqua;
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/ctp2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
