.panel-default>.panel-heading {
  background-color: $darkteal;

  &.enterprise {
    background-color: $darkest-gray;
  }

  .panel-title {
    &:hover {
      text-decoration: none;
    }

    h2 {
      margin-bottom: 0;
    }

    h2,
    p {
      @extend %white;
      @extend %center;
    }
  }
}


.rocket {
  @media only screen and (max-width: 992px) {
    background-image: none;
  }

  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/rocketBG.png');
  background-position: center 28%;
  background-repeat: no-repeat;
  background-size: contain;
}

.pricing-header-row {
  background-color: $light-gray-white;
  border-bottom: $light-gray;
  min-height: 225px;
}


.js-tabcollapse-panel-heading {
  text-decoration: none;
}

.enterprise-collapse {
  background-color: $darkest-gray;
}

.panel-body {
  a {
    text-decoration: none;
  }
}

.pricing {
  background-color: $white;

  h3 {
    .teal {
      color: $darkteal;
    }
  }

  hr {
    .white {
      border-top: solid 1px $white;
    }
  }

  .triangle-text {
    position: absolute;
    right: 8px;
    top: 0;

    h4 {
      @extend %center;
      @extend %white;
      line-height: 1em;
    }
  }

  .triangle {
    border-left: 110px solid transparent;
    border-top: 90px solid $mediumteal;
    position: absolute;
    right: -1px;
    top: -1px;
  }

  .panel-heading {
    @media only screen and (max-width: 992px) {
      border-right: 0;
      min-height: 0;
      padding: 0 0 0 10px;
    }

    background-color: transparent;
    border-bottom: transparent;
    border-radius: 0;
    border-right: solid 1px $light-gray;
    min-height: 222px;

    &.enterprise {
      background-color: $darkest-gray;
    }

    &.business {
      background-color: $darkteal;
    }
  }

  .border-right {
    border-right: solid 1px $light-gray-white;
  }

  .col-md-3 {
    background-color: transparent;
    border-right: 1px solid $light-gray-white;
    padding: 20px 15px;

    &.pricing {
      border: 0;
      padding: 0;
    }
  }

  %price-compare {
    padding: 0;

    &:last-child {
      border: 0;
    }
  }

  .price-compare {
    // We should not nest bootstrap styles
    .col-md-9 {
      @extend %price-compare;
    }

    .col-md-4 {
      @extend %price-compare;
      padding: 15px 0;
    }

    p {
      margin: 0 20px;
    }
  }

  %col-md-2-style {
    border: 1px solid $light-gray-white;
    padding: 20px 15px;
    width: 14%;

    &:first-child {
      width: 15.79%;
    }
  }

  tr {
    // We should not nest bootstrap styles
    .col-md-2 {
      @extend %col-md-2-style;
    }
  }

  .half-padding {
    border-top: 1px solid $light-gray-white;
  }

  .col-md-9 {
    padding: 20px 0;

    .row {
      border: 0;
    }
  }

  .row {
    border: 1px solid $light-gray-white;

    @media only screen and (max-width: 992px) {
      border: 0;
    }
  }

  .title {
    @extend %center;
    background-color: $light-gray-white;
    border: 1px solid $light-gray;
    padding: 20px 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .product-icons {
    @extend %center;

    li {
      display: inline-block;
      width: 30px;
    }
  }

  i {
    font-size: 1.5em;
    vertical-align: middle;
  }

  .check {
    color: $darkest-gray;
  }

  .check-business {
    color: $darkteal;
  }

  .times {
    color: $light-gray;
  }

  .fa-arrow-right {
    border: 2px solid $darkteal;
    border-radius: 50%;
    font-size: 1em;
    margin-top: 0;
    padding: 7px;
  }

  .lead-cell {
    width: 20%;
  }
}

@media only screen and (max-width: 992px) {
  .check,
  .times {
    float: right;
  }
}
