%value-prop {
  margin: 10px;
}

.list-grid {
  ul {
    padding-left: 1.3em;

    li {
      margin-left: 1em;
    }
  }
}

.value-prop {
  @extend %value-prop;
}

.customer-stories-logos {
  img {
    @extend %center;
    max-height: 40px;
    padding: 1% 2%;
    vertical-align: middle;

    &:hover {
      background-color: $customer-stories-logo-bg;
      cursor: pointer;
    }
  }
}

.technologies {
  h3 {
    + p {
      font-size: 15px;
      font-weight: 300;
      line-height: 150%;
      padding-top: 8px;
    }
  }
}

.techapps {
  img {
    @extend %center;
    max-height: 80px;
    max-width: 140px;
    padding: 2%;
    vertical-align: middle;
  }

  span {
    &:hover {
      background-color: $techapp-background;
      cursor: pointer;
    }
  }
}

.expertise-container {
  background-size: cover;
  padding: 60px 0;

  p {
    @extend %white;
    background-color: $rackspace-red;
    display: table;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -.007em;
    line-height: 175%;
    margin-bottom: 5px;
    padding: 0 20px;
    text-align: left;
    text-transform: none;
    vertical-align: center;
  }
}
