// the button class can be used for both anchor and input tags, defaults to medium/gray
.button {
  @extend %uppercase;
  @extend %center;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  cursor: pointer;
  display: inline-block;
  font-size: .85em;
  font-weight: 600;
  padding: 15px 20px;
  text-decoration: none;
  width: 100%;

  &:hover {
    text-decoration: none;
  }

  &.lead {
    @extend %white;
    background-color: $signup-green;

    &:hover {
      @extend %white;
      background-color: lighten($signup-green, 5%);
    }
  }

  &.leaving {
    @extend %white;
    background-color: $mustard;

    &:hover {
      @extend %white;
      background-color: lighten($mustard, 5%);
    }
  }

  &.learning {
    background: $white;
    border: 3px solid $mediumteal;
    color: $dark-gray;
    padding: 12px 20px;

    &:hover {
      @extend %white;
      background-color: $mediumteal;
    }
  }
}

.banner {
  %learning {
    @extend %white;
    background-color: transparent;

    &:hover {
      background-color: $mediumteal;
    }
  }

  .button {
    background: transparent;
    color: $white;

    &.learning {
      @extend %learning;
    }
  }
}

.subnav {
  .button {
    padding: 8px 15px;
  }
}

.cta {
  @extend %center;

  & > a {
    @extend %button
  }
}
