@charset 'UTF-8';

//** label overrides
label,
.label {
  font-weight: 500;
}

.label-default,
.label-primary {
  color: $white;
}

//** href overrides
p {
  a {
    text-decoration: underline;
  }
}

//** table overrides
.table > thead > tr > th {
  font-weight: unset;
}

//** label / input field overrides
.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    color: $warning;

    label {
      color: $warning;
    }
  }

  .form-control {
    background-color: $warning-background;
    border-color: $warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    color: $error;

    label {
      color: $error;
    }
  }

  .form-control {
    background-color: $error-background;
    border-color: $error;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    color: $success;

    label {
      color: $success;
    }
  }

  .form-control {
    background-color: $success-background;
    border-color: $success;
  }
}

//** tabs overrides
.nav-tabs {
  margin-bottom: 1.5em;
}

.tab-content {
  background-color: $white;
  overflow: auto;
  padding: 15px;
  position: relative;
}

.panel {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
}

table {width: 100%;}
