extends ../_layouts/page.jade

block page
  :marked
    # Global Theme
      .row
        .col-lg-12
          h4 Welcome Friends and Family
          h1 Rackspace 
          h4 Of All Things Web
          
      .row
        .col-md-6
          img
          
      .row
        .col-md-12
          h3 Expert. Confident. Helpful. Results-Obsessed. 
      
      .row
        .col-md-12
          p Driven by a culture of achieving, Rackers place a significant value in information sharing and to put it simply... Getting things done. The goal of Project Zoolander is not simply to create a styleguide for ants but to make development and unification of a 6,000+ person company something so much more digestible. With this online tool we strive to inform the masses and uphold the brand values while making all of our lives just a little bit easier.
