.rug-to-top {
  @extend %half-padding;
  @extend %center;
  background-color: $darkteal;

  a {
    @extend %subheading;
    @extend %white;
    @extend %center;
    text-decoration: none;

    &:hover,
    &:focus {
      @extend %white;
      text-decoration: none;
    }

    i {
      @extend %white;
      font-family: 'fontAwesome';
      font-size: 1.5em;
      margin: 10px 0 0 15px;
    }
  }
}

.top-link-desktop {
  a {
    @extend %white;
    @extend %subheading;
    @extend %center;
    background-color: $darkteal;
    bottom: 10px;
    display: none;
    height: 35px;
    padding: 0;
    position: fixed;
    right: 5px;
    text-decoration: none;
    width: 35px;
    z-index: 100;

    &:hover,
    &:focus {
      @extend %white;
    }

    i {
      @extend %white;
      font-size: 1.9em;
      padding-left: 6px;
      padding-top: 5px;
    }
  }
}
