$ceiling-margin: floor($navbar-margin-bottom / 4);
$ceiling-font-size: 10px;

.ceiling {
  @extend %uppercase;
  @extend %semi-bold;
  background: $white;
  border: 0;
  border-radius: 0;
  font-size: $ceiling-font-size;
  margin: 0;
  min-height: $line-height-computed;

  a {
    color: $text-color;
    font-size: $ceiling-font-size;
    line-height: 16px;
    vertical-align: middle;
  }

  .navbar-left {
    &:first-child {
      margin-left: 0;
      padding-left: $ceiling-margin;
    }
  }

  .navbar-right {
    .dropdown-menu {
      margin-right: floor($ceiling-margin / 2);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .lp {
    ul {
      padding-top: $ceiling-margin;

      a {
        font-size: 13px;
      }
    }
  }

  .menu-inline {
    @extend %menu-inline;
  }
}

%menu-inline {
  list-style: none;
  margin-bottom: 0;
  margin-left: -5px;
  padding-left: 0;

  > li {
    border-right: 1px solid $darkest-gray;
    display: inline-block;
    margin: floor($ceiling-margin + 2) 0;
    padding: 0 floor($ceiling-margin + 2);

    &.no-border,
    &:last-child {
      border: 0;
    }
  }

  .dropdown-menu {
    min-width: 0;
    padding: 0;

    li {
      a {
        padding: 3px floor($ceiling-margin * 2);
      }
    }
  }

  .dropdown {
    padding: 0;

    &:after {
      content: '';
    }

    ul,
    li,
    a {
      @extend %white;
      background-color: $medium-gray;
      margin: 0;

      &.dropdown-green {
        background-color: $dropdown-green;
        a { background-color: $dropdown-green; }

        &:active,
        &:hover,
        &:focus {
          background-color: $dropdown-green-hover;
        }
      }

      &:hover,
      &:focus,
      &:active {
        background-color: lighten($medium-gray, 5%);
      }
    }

    > a {
      background-color: $medium-gray;
      border: 0;
      border-radius: 0;
      font-size: $ceiling-font-size;

      &:hover {
        @extend %white;
        background-color: lighten($medium-gray, 5%);
      }

      &:focus,
      &:active {
        background-color: $dropdown-light-gray;
      }
    }
  }
}

.navbar-brand {
  background-color: $rackspace-red;
  padding: 5px 10px;

  img {
    max-height: 100%;
    max-width: $full-width;
  }
}
