.nav > li > a {
  &:focus {
    background-color: $signup-green;
  }
}

.main-nav {
  background: $brand-black;
  border: 0;
  border-radius: 0;

  .navbar-nav > li > a {
    color: $navbar-color;

    &:hover,
    &:focus {
      background: $inactive;
      color: $brand-black;
    }
  }

  .dropdown-menu {
    border: $inactive 1px solid;

    > li > a {
      padding: 3px 10px;
    }

    .dropdown-header {
      font-size: 12px;
      padding: 5px 10px;
    }
  }

  .navbar-brand {
    background-color: $brand-primary;
    background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/navigation/rackspace-logo-tagline-simplified.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 140px 36px;
    position: relative;
    width: 160px;

    &:hover {
      background-color: $brand-primary;
    }
  }
}

.subnav {
  background-color: $blue-gray;
  border-radius: 0;

  .subnav-inside {
    width: 100%;
  }

  .navbar-header {
    .col-xs-10 {
      margin-top: 10px;
    }

    button {
      background-color: transparent;
    }
  }

  .button {
    margin: 7px 0;
  }

  .icon-bar {
    background-color: $white;
  }

  li {
    @extend %left;
    border-bottom: solid transparent 4px;
    padding: 7px 7px 6px;

    &:hover {
      background-color: transparent;
      border-bottom: solid $darkteal 4px;
    }

    a {
      @extend %white;
      font-weight: 400;
      text-decoration: none;

      &:hover {
        background-color: transparent;
        text-decoration: none;
      }
    }

    &.no-hover {
      float: right;

      &:hover {
        border-bottom: solid transparent 4px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .subnav {
    li {
      font-size: .86em;
      margin: 0;
      padding: 7px 0 6px;
    }
  }
}

@media only screen and (max-width: 770px) {
  .subnav {
    li {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  .navbar-nav {
    margin: 7.5px 0;
  }
}
