%nav-active-link {
  border: 0;

  > * {
    @extend %center;
    color: $darkteal;
  }
}

%nav-enterprise-active-link {
  a {
    > * {
      color: $darkest-gray;
    }
  }

  &:hover {
    border-top: 5px solid $darkest-gray;
  }
}

%nav-tabs-li {
  background-color: $darkteal;
  border-top: 5px solid $darkteal;
  display: inline-block;
  float: none;
  padding: 0;

  %enterprise-link {
    > * {
      color: $darkest-gray;
    }

    &:hover {
      text-decoration: none;
    }
  }

  %enterprise-hover {
    border-top: 5px solid $darkest-gray;

    a {
      @extend %enterprise-link;
      background-color: $white;
    }
  }

  //snowflake
  &.enterprise {
    background-color: $darkest-gray;
    border-top: 5px solid $darkest-gray;

    &:hover,
    &:active {
      @extend %enterprise-hover;
    }
  }

  a {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;

    > * {
      @extend %white;
      @extend %center;
      margin: 0;
    }
  }

  &:hover {
    border-top: 5px solid $white;

    a {
      background-color: $darkteal;
    }
  }

  &.active {
    background-color: $white;

    a {
      @extend %nav-active-link;
    }

    //snowflake
    &.enterprise {
      @extend %nav-enterprise-active-link;
    }

    &:hover {
      border-top: 5px solid $darkteal;
    }
  }
}

.nav-tabs {
  @extend %center;
  border: 0;
  margin-bottom: 0;

  >li {
    @extend %nav-tabs-li;
  }
}

@media only screen and (max-width: 992px) {
  .tab-content {
    display: none;
  }
}
